@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

:root {
  --white: hsl(0, 0%, 100%);
  --card-blue: hsl(219, 30%, 18%);
  --bg-blue: hsl(216, 53%, 9%);
  --base-font: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--white);
  background-color: var(--bg-blue);
  font-family: var(--base-font);
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

/* .container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 40px;
  justify-content: center;
  padding: 45px 45px 90px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 78.125em) {
  .container {
    padding: 0;
    max-width: 1160px;
  }
} */
